<div class="flex justify-center items-center text-center bg-black-alpha-20 px-6 border-round-3xl">
    
    <div class="w-11 max-w-md p-6">
        <h3 class="text-xl font-semibold mb-4">Comparta su opinión</h3>

        <form [formGroup]="ratingForm" (ngSubmit)="CreateRating()" class="flex-col items-center gap-4">

            <div class="flex-col">
                <label for="punctuation" class="m-2">Califica tu experiencia</label>
                
                <div class="justify-center items-center text-center">
                    <p-rating class="" formControlName="punctuation"/>
                </div>
            </div>

            <div>
                <label for="description" class="block m-2">Escribe una opinión</label>
                <textarea
                formControlName="description"
                rows="10"
                placeholder="Describe tu experiencia"
                pTextarea
                class="w-8"
                ></textarea>
            </div>
            
            <div class="flex gap-4 mt-1">
                <p-button type="submit" label="Enviar" icon="pi pi-check"></p-button>
            </div>

        </form>
        
    </div>

</div>