<div>
    <h2>Mi Lista de Deseos</h2>
</div>

<div class="product-gallery">
  <p-card class="custom-card" *ngFor="let product of wishListProducts">
    <ng-template #header>
      <div class="img-button-header">
        <img [src]="product.photo" alt="Imagen del producto" class="product-photo"/>
      </div>
    </ng-template>
    <ng-template #title>
      <h3>{{product.productName}}</h3>
      <p>Precio: {{product.price | currency}}</p>
    </ng-template>
    <ng-template #footer>
      <p-button icon="pi pi-trash"></p-button>
    </ng-template>
  </p-card>
</div>
