<div class="card min-w-full h-screen">
  <p-table #dt [columns]="cols" [value]="advisors" [paginator]="true" [rows]="20" responsiveLayout="" [tableStyle]="{ 'table-layout': 'auto' }">
    <ng-template pTemplate="header" let-columns>
      <tr>
        @for (col of columns; track col.field){<th>{{ col.header }}</th>}
      </tr>
      <tr >
        @for(col of columns; track col.field){
          @if(col.field=='actions'){
            <th></th>
          } @else {
            <th>
              <p-columnFilter
                type="text"
                [field]="col.field"
                [matchModeOptions]="matchModeOptions"
                [matchMode]="'custom-equals'"
              />
            </th>
          }

        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        @for (col of columns; track col.field){
          @if(col.field=='actions'){
            <td class="flex  flex-row gap-1">
              <p-button  type="button" label="Solicitar" icon="pi pi-clock" (onClick)="onRequestMeeting(rowData)"></p-button>
              <p-button  type="button" label="Ver" icon="pi pi-user"  (onClick)="onViewDetails(rowData)" ></p-button>
            </td>
          } @else {
            <td>
              {{ rowData[col.field] }}
            </td>
          }
        }
      </tr>

    </ng-template>
  </p-table>




  <div class="card flex justify-center">
    <p-dialog [header]="advisor?.nombre" [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false">
      <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template #header>
          <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
        <ng-template #title> {{ advisor?.ubicacion }}</ng-template>
        <ng-template #subtitle>{{ advisor?.calificacion }}</ng-template>
        <ng-template #subHeader>{{ advisor?.calificacion }}</ng-template>
        <p> {{ advisor?.id }} </p>
        <p> {{ advisor?.tipoAsesoria }} </p>
        <p> {{ advisor?.especialidad }} </p>
        <ng-template #footer>
          <div class="flex gap-4 mt-1">
            <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" (onClick)="closeDialog()" />
            <p-button label="Save" class="w-full" styleClass="w-full" (onClick)="onRequestMeeting(advisor!)" />
          </div>
        </ng-template>
      </p-card>
    </p-dialog>
  </div>




</div>





