<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
  <p-fluid class="flex flex-column justify-content-center gap-2">

    <!-- Fecha -->
    <p-datepicker
      formControlName="appointmentDate"
      [showButtonBar]="true"
      [inline]="true"
      placeholder="Fecha de la cita"
      dateFormat="dd.mm.yy">
    </p-datepicker>

    <!-- Hora -->
    <p-datepicker
      formControlName="appointmentTime"
      [timeOnly]="true"
      placeholder="Hora de inicio">
    </p-datepicker>

    <!-- Descripción -->
    <p-iftalabel>
      <textarea pTextarea id="description" rows="4" formControlName="description"></textarea>
      <label for="description">Descripción</label>
    </p-iftalabel>

    <!-- Botón de envío -->
    <p-button type="submit" label="ENVIAR"></p-button>
  </p-fluid>
</form>
