<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
  <p-fluid class="flex flex-column justify-content-center gap-2">

    <!-- Selección de Fecha -->
    <p-select
      [options]="availableDates"
      formControlName="appointmentDate"
      optionLabel="label"
      placeholder="Seleccione una fecha"
      class="w-full"
      (onChange)="onDateChange($event.value)"
    />

    <!-- Selección de Hora -->
    <p-select
      [options]="availableTimes"
      formControlName="appointmentTime"
      optionLabel="label"
      placeholder="Seleccione una hora"
      class="w-full"
    />

    <!-- Descripción -->
    <p-iftalabel>
      <textarea
        pTextarea
        id="description"
        rows="4"
        formControlName="description"
      ></textarea>
      <label for="description">Descripción</label>
    </p-iftalabel>

    <p-button type="submit" label="Siguiente" (onClick)="submitYMostrarPago()"  ></p-button>

  </p-fluid>
</form>

