<div class="bg-black-alpha-20 px-6 border-round-3xl">

  <div class="flex flex-column justify-content-center align-items-center ">
    <h2>Calificaciones Globales</h2>
    
    <div class="flex gap-2 m-3" >
      <p-button [routerLink]="'/my-ratings'" icon="pi pi-arrow-up-right" label="Mis Reseñas" class="w-full" styleClass="w-full" />
    </div>
  </div>

  <div class="card">
    <p-tabs [(value)]="selectedTab" (valueChange)="getByTab()">
        <p-tablist>
            <p-tab value="0">Productos</p-tab>
            <p-tab value="1">Asesoramientos</p-tab>
            <p-tab value="2">Tecnicos</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <div class="m-0 bg-black-alpha-30">
                  
                  <div class="justify-center ml-7">
                    <div class="grid grid-cols-2">
                      <ng-container *ngFor="let ratings of allRatings">
                        <div  class="w-5 h-24 m-2 overflow-hidden">
                          <app-rating-card [ratings]="ratings" [type]="type">  </app-rating-card>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  
                </div>
            </p-tabpanel>
            <p-tabpanel value="1">
                <div class="m-0 bg-black-alpha-30">

                  <div class="justify-center ml-7">
                    <div class="grid grid-cols-2">
                      <ng-container *ngFor="let ratings of allRatings">
                        <div  class="w-5 h-24 m-2 overflow-hidden">
                          <app-rating-card [ratings]="ratings" [type]="type"></app-rating-card>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                    
                </div>
            </p-tabpanel>
            <p-tabpanel value="2">
                <div class="m-0 bg-black-alpha-30">

                  <div class="justify-center ml-7">
                    <div class="grid grid-cols-2">
                      <ng-container *ngFor="let ratings of allRatings">
                        <div  class="w-5 h-24 m-2 overflow-hidden">
                          <app-rating-card [ratings]="ratings" [type]="type"></app-rating-card>
                        </div>
                      </ng-container>
                    </div>
                  </div>

                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
  </div>
  
</div>