<div class="product-gallery">
  <p-card class="custom-card" *ngFor="let product of productData">
    <ng-template #header>
      <div class="img-button-header">
        <!--AÑADIR BOTTON DE CORAZON-->
        <img [src]="product.photo" alt="Imagen del producto" class="product-photo"/>
      </div>
    </ng-template>
    <ng-template #title>
      <h3>{{product.productName}}</h3>
      <p>Precio: {{product.price | currency}}</p>
    </ng-template>
    <ng-template #footer>
      <div class="flex gap-2">

        <p-button
          *ngIf="currentUserRole !== 'ROLE_TECHNICIAN'"
          icon="pi pi-shopping-cart"
          (click)="addToCart(product)"
          pTooltip="Añadir al carrito"
          tooltipPosition="top"
          [tooltipOptions]="{showDelay: 500, hideDelay: 300}"
          styleClass="p-button-rounded p-button-outlined">
        </p-button>

        <p-button
          icon="pi pi-eye"
          (click)="seeDetail(product)"
          pTooltip="Ver detalles del producto"
          tooltipPosition="top"
          [tooltipOptions]="{showDelay: 500, hideDelay: 300}"
          styleClass="p-button-rounded p-button-outlined">
        </p-button>
      </div>
    </ng-template>
  </p-card>
</div>

