<p-card>
    <ng-template #header>
      <div class="flex justify-center pt-4 pl-4" >

      <i class="pi pi-user" style="font-size: 1.5rem"></i>
      </div>

    </ng-template>

    <ng-template pTemplate="title" *ngIf="show">
        <div class="">
          <p-rating [(ngModel)]="ratings.punctuation" [readonly]="true"/>
        </div>
    </ng-template>

    <h3>
        {{ratings.description}}
    </h3>

    <ng-template #footer>
        <div class="m-2"> Creado el {{ratings.createdAt}} </div>
    </ng-template>
</p-card>
