<p-card>
    <ng-template #header>
        <div class="flex justify-center m-3">
            <div class="m-1"> 
                <p-rating [(ngModel)]="ratings.punctuation" [readonly]="true"/> 
            </div>
        </div>
    </ng-template>
    
    <ng-template pTemplate="title" *ngIf="show">
        <i class="pi pi-user" style="font-size: 1.5rem"></i>
    </ng-template>
    
    <h3>
        {{ratings.description}}
    </h3>
    
    <ng-template #footer>
        <div class="m-2"> Creado el {{ratings.createdAt}} </div>
    </ng-template>
</p-card>